# 1. Ignore everything
*

# 2. Exceptions: Keep the directories and files of the project
!.gitignore
!README.md

!/ns-3.34/
/ns-3.34/README.md
/ns-3.34/README
!/ns-3.34/wscript
!/ns-3.34/run_flysafe.sh

!/ns-3.34/src/
!/ns-3.34/src/flysafe/
!/ns-3.34/src/flysafe/**

!/ns-3.34/src/network/
!/ns-3.34/src/network/wscript

!/ns-3.34/src/network/model/
!/ns-3.34/src/network/model/node.h
!/ns-3.34/src/network/model/node.cc
!/ns-3.34/src/network/model/packet.h
!/ns-3.34/src/network/model/packet.cc
!/ns-3.34/src/network/model/packet-tag-list.h
!/ns-3.34/src/network/model/packet-tag-list.cc
!/ns-3.34/src/network/model/tag-buffer.h
!/ns-3.34/src/network/model/tag-buffer.cc
!/ns-3.34/src/network/model/tag.h
!/ns-3.34/src/network/model/tag.cc

!/ns-3.34/src/wifi/
!/ns-3.34/src/wifi/model/
!/ns-3.34/src/wifi/model/wifi-remote-station-manager.cc

!/ns-3.34/scratch/
!/ns-3.34/scratch/flysafe.cc
!/ns-3.34/scratch/drone_image.png
!/ns-3.34/scratch/malicious_image.png
!/ns-3.34/scratch/drone_icon.png
!/ns-3.34/scratch/malicious_icon.png